<li class="pod">
	<div class="row">
		<div class="col-md-6">
			{{burger_name}}
		</div>
		<div class="col-md-6">
			<button type="button" class="delete-burger btn btn-danger" data-id="{{id}}" data-test="{{devoured}}">
				{{#if devoured}}Devoured!{{else}}Not eaten{{/if}}
			</button>
		</div>
	</div>
</li>