<li class="pod">
	{{burger_name}}

	<button type="button" class="change-devoured btn btn-primary" data-id="{{id}}" data-test="{{devoured}}">
		{{#if devoured}}Devoured!{{else}}Not eaten{{/if}}
	</button>
</li>
