<h1>Good Burger</h1>

<h2>Burgers not eaten</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> dog-block devour=true}}
  {{/unless}}

  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form" action="api/burgers" method="POST">

  <div class="form-group">
    <label for="bn">Burger Name:</label>
    <input type="text" id="name" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="0" checked> Not eaten<br>
    <input type="radio" name="devoured" value="1"> Devoured
  </div>

  <button id="btnSubmit" type="submit">Add Burger</button>
</form>