

<h1>Good Burger</h1>

<h2>Burgers not eaten</h2>

<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> dog-block devour=true}}
  {{/unless}}

  {{/each}}
</ul>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> dog-block devour=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-form" action="api/burgers" method="POST">

  <div class="form-group">
    <label for="bn">Burger Name:</label>
    <input type="text" id="name" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Devoured?</label><br>
    <input type="radio" name="devoured" value="0" checked> Not eaten<br>
    <input type="radio" name="devoured" value="1"> Devoured
  </div>

  <button id="btnSubmit" type="submit">Add Burger</button>
</form>

<script>
$(".change-devoured").on("click", function (event) {
			// alert("Update!");
			var id = $(this).data("id");
      console.log("id: " + id);
			var tempDevoured = $(this).data("test");
      var newDevoured;
      console.log("tempDevoured: " + tempDevoured);
      if(tempDevoured===0) {
        newDevoured=1;
      }
      else {
        newDevoured=0;
      }
    
			var newDevouredState = {
				devoured: newDevoured
			};
      console.log("newDevouredState " + JSON.stringify(newDevouredState));
			// Send the PUT request.
			$.ajax("/api/burgers/" + id, {
				type: "PUT",
				data: newDevouredState
			}).then(
				function () {
					console.log("changed devoured to", newDevoured);
					// Reload the page to get the updated list
					location.reload();
				}
			);
		});

</script>
